<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
</head>
<body>
<h1>Car List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Series</th>
        <th>Model</th>
        <th>NameCar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.series}">Series</td>
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.nameCar}">NameCar</td>
    </tr>
    </tbody>
</table>
</body>
</html>